.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea/
out/
*.iml
*.iws
*.ipr

# AI Agent 관련
AGENTS.md
.codex/
CLAUDE.md
.claude/
./docs

# 주간 작업 내용
docs/weekly

# local env
.env
